.container{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.bodyContainer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
}


.storyFeedContainer{
    /* background-color: oldlace; */
    display: inline-block;
    flex-direction: column;
    height: 100vh;
    width: 25%;
}

.storyListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
}

/* hiding the scrollbar for chrome, safari and opera*/
.storyListContainer::-webkit-scrollbar{
    display: none;
}

.leftRightTitle{
    color: #444444;
    text-align: center;
    margin: 10px;
}


.storyContainer{
    height: 100vh;
    width:50%;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.featuredContainer{
    height: 100vh;
    width: 25%;
}

